
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
}

.navbar {
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(48deg, rgba(0, 0, 0, 0.8) 19%, rgba(255, 255, 255, 0.65) 69%);
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    position: absolute;
    right: 5%;
}

main {
    padding: 0;
    margin: 0;
}

.section-one {
    height: 100vh;
    width: 100vw;
    background: url(./assets/images/background-image.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main-text{
    position: absolute;
    top: 32%;
    left: 15%;
    max-width: fit-content;
    max-height: fit-content;
}

.main-title {

    color: #191919;
    font-weight: bold;
    font-size: 65px;
    font-family: 'Prompt', sans-serif;
}

.main-contact-section > a{
    color: rgb(108,117,125) !important;
}

.main-contact-section > a:hover{
    color: #121212b8 !important;
}

.job-title{
    color: #121212b8;
}

.section-dark {
    background-color: #252525;
    height: 75vh;
    width: 100vw;
    color: white;
}

.section-light {
    background: url(./assets/images/background-image.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    width: 100vw;
    position: relative;
}

.active {
    position: relative;
    transition: .3s ease;
}

.active::before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(108, 117, 125);
    transition: .3s ease;
}

.about-me-section{
    display: flex;
    flex-direction: row;
}

.about-me-section > div{
    height: 100%;
    display: flex;
}

.picture-div{
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.personal-picture{
    background: url(./assets/images/foto.jpg) no-repeat center;
    background-size: cover;
    width: 60%;
    height: 60%;
    border-radius: 3px;
}

.about-me-text{
    width: 70vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1%;
    padding: 0 10%;
}

.contact-section{
    display: flex;
    flex-direction: row;
}

.contact-title{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

footer{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}


.contact-information{
    width: 50%;
    height: 100%;
}

.contact-information a{
    width: fit-content;
}

.contact-information, .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-container > a:hover{
    color: #1212126e !important;
}

input, textarea{
    display: block;
    margin-top: 5px;
    width: 125%;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

input{
    height: 35px;

}

@media (max-width: 600px) {
    .section-light {
        height: 100vh;
        width: 100vw;
    }
    .section-dark {
        height: 100vh;
        width: 100vw;
    }

    .main-text{
        margin-left: -11vw;
    }

    .main-title{
        font-size: 30px;
    }

    .navbar {
        position: relative;
        background: #191919;
        background: linear-gradient(17deg, #191919 1%, rgba(255, 255, 255, 0.65) 49%);
    }

    .nav {
        position: absolute;
        right: 8%;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        box-shadow: 5px 5px 95px #19191955;
        border-radius: 3px;
    }

    .picture-div, .personal-picture{
        display: none;
        width: 0;
    }

    .about-me-text{
        width: 100vw;
    }

    .contact-section{
        flex-direction: column;
        gap: 15px;
        height: 140vh;
    }

    .contact-information{
        width: 100%;
        height: fit-content;
        margin-top: 25%;
        font-size: 90%;
    }
    
    .contact-information a{
        width: fit-content;
        margin-left: 10%;
    }

    .contact-information p{
        font-size: 160% !important;
    }
    
    .contact-form{
        height: fit-content;
        width: 100%;
        margin-top: 15%;
        align-items: flex-start;
        margin-left: 10%;
    }

    .sendWhatsappMessage{
        margin-left: 100%;
        transform: translateX(-50%);
    }

    footer{
        position: absolute;
        bottom: 2px;
        text-align: center;
        width: 100%;
    }

}
