* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit !important;
}

::-webkit-scrollbar {
  background-color: #4a4a4a40 !important;
  width: 7px;
  border-radius: 15px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #252525;
}


.title {
  text-align: center;
}

.separation {
  position: absolute;
  width: 50%;
  height: 1px !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4a4a4a90 !important;
  border-radius: 3px;
}

.navbar {
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(48deg,
      rgba(0, 0, 0, 0.8) 19%,
      rgba(255, 255, 255, 0.65) 69%);
  background-size: cover;
  background-attachment: fixed;
}

.nav {
  position: absolute;
  top: 5px;
  right: 10px;
}

.navbar-toggler-custom {
  display: none;
  border: none;
  background-color: transparent;
  color: #191919;
  position: absolute;
  right: 25px;
  bottom: 50%;
  transform: translateY(50%);
}

main {
  padding: 0;
  margin: 0;
}

.section-one {
  height: 100vh;
  width: calc(100vw - 7px);
  background: url(./assets/images/background-image.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.main-text {
  position: absolute;
  top: 32%;
  left: 15%;
  max-width: fit-content;
  max-height: fit-content;
}

.main-title {
  color: #191919;
  font-weight: bold;
  font-size: 65px;
  font-family: "Prompt", sans-serif;
  transform: translateX(-5px);
}

.main-contact-section>a {
  color: rgb(108, 117, 125) !important;
}

.main-contact-section>a:hover {
  color: #121212b8 !important;
}

.job-title {
  color: #121212b8;
}

.section-dark {
  background-color: #252525;
  height: 85vh;
  width: calc(100vw - 7px);
  color: white;
  position: relative;
}

.section-light {
  background: url(./assets/images/background-image.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  width: calc(100vw - 7px);
  position: relative;
  padding: 40px 0;
}

.active {
  position: relative;
  transition: 0.3s ease;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(108, 117, 125);
  transition: 0.3s ease;
}

.about-me-section {
  display: flex;
  flex-direction: row;
}

.about-me-section>div {
  height: 100%;
  display: flex;
}

.picture-div {
  width: 30vw;
  justify-content: center;
  align-items: center;
}

.personal-picture {
  background: url(./assets/images/foto.jpg) no-repeat center;
  background-size: cover;
  object-fit: contain;
  width: 60%;
  height: 60%;
  border-radius: 3px;
}

.about-me-text {
  width: 70vw;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1%;
  padding: 0 10%;
}

.knowledge-groups {
  position: relative;
  width: 100%;
  height: 100%;
}

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 32pt;
  cursor: pointer;
  z-index: 999;
}

.chevron.left {
  left: 15px;
}

.chevron.right {
  right: 15px;
}

.knowledge-group {
  position: absolute;
  width: calc(100vw - 7px);
  height: 100%;
  padding: 30px;
  opacity: 0;
  transition: .6 ease-out;
}

.minor-knowledges {
  position: absolute;
  width: calc(100vw - 7px);
  height: 95%;
  padding: 30px;
  opacity: 0;
  transition: .6 ease-out;
}

.group-active {
  opacity: 1;
  transition: 0.6s ease-out;
}

.knowledge-group div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80%;
}

.knowledge-image {
  width: 20%;
  height: 80%;
  background-size: cover;
  object-fit: contain;
}

.minor-knowledges div {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.minor-knowledge-image {
  width: 80%;
  height: 60%;
  object-fit: contain;
}

.div1 {
  grid-area: 2 / 2 / 4 / 4;
}

.div2 {
  grid-area: 2 / 5 / 4 / 7;
}

.div3 {
  grid-area: 2 / 8 / 4 / 10;
}

.div4 {
  grid-area: 2 / 11 / 4 / 13;
}

.div5 {
  grid-area: 5 / 2 / 7 / 4;
}

.div6 {
  grid-area: 5 / 5 / 7 / 7;
}

.div7 {
  grid-area: 5 / 8 / 7 / 10;
}

.div8 {
  grid-area: 5 / 11 / 7 / 13;
}

.dash-select-group {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translate(50%, 600%);
  display: flex;
  justify-content: center;
}

.dash-select {
  height: 5px;
  width: 50px;
  border-radius: 3px;
  background-color: #19191935;
  border: none;
  outline: none;
  margin-left: 3px;
  cursor: pointer;
}

.dash-select-active {
  transition: 0.3s ease;
  background-color: #191919;
}

.projects-section {
  height: max-content !important;
}

.projects-section div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  min-height: max-content;
  width: 70%;
  margin: 0 auto;
}

.projects-section .card {
  width: 400px;
  height: 500px;
  background-color: transparent;
  border: 1px solid #4a4a4a90;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 25px;
}

.card img {
  border-radius: 3px 3px 0 0;
  object-fit: contain;
}

.card .project-info {
  height: 80%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f2f2f2;
}

.card .project-info p {
  text-align: center;
}

.card .project-actions {
  width: 80%;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}

.card .project-actions a {
  height: fit-content !important;
  border-radius: 3px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14pt;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a90;
  color: #f2f2f2 !important;
  transition: 0.3s ease;
}

.card .project-actions a.code-link {
  background-color: transparent;
  border: 1px solid #4a4a4a90;
  color: inherit !important;
}

.card .project-actions a:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.card .project-actions a i {
  transform: translateX(-20%);
}

.contact-section {
  display: flex;
  flex-direction: row;
}

.contact-title {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-information {
  width: 50%;
  height: 100%;
}

.contact-information a {
  width: fit-content;
}

.contact-information,
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-container>a:hover {
  color: #1212126e !important;
}

input,
textarea {
  display: block;
  margin-top: 5px;
  width: 125%;
  border-radius: 5px;
  border: none;
  padding: 2px;
}

input {
  height: 35px;
}

@media (max-width: 700px) { /* ====> MEDIA QUERY PARA TELAS PEQUENAS <==== */

  body{
    width: 100avw !important;
  }

  .section-one {
    height: 70vh !important;
  }

  .section-light,
  .section-one {
    height: 100vh;
    width: 100vw;
  }

  .section-dark {
    height: 100vh;
    width: 100vw;
  }

  .main-text {
    margin-left: -11vw;
  }

  .main-title {
    font-size: 30px;
  }

  .navbar {
    position: relative;
    background: #191919;
    background: linear-gradient(17deg,
        #191919 1%,
        rgba(255, 255, 255, 0.65) 49%);
  }

  .navbar-custom {
    border: 7px;
  }

  .nav {
    position: absolute;
    right: 18% !important;
    top: 50%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 5px 5px 95px #19191955;
    border-radius: 3px;
    height: 0;
    overflow: hidden;
  }

  .navbar-toggler-custom {
    display: block;
  }

  .nav.show {
    height: 270px !important;
  }

  .picture-div,
  .personal-picture {
    display: none;
    width: 0;
  }

  .about-me-section {
    height: fit-content;
    padding: 5% 0;
    width: 100vw;
  }

  .about-me-text {
    width: 100% !important;
  }

  .knowledge-section {
    position: relative;
    width: 100vw;
    height: 800px;
  }

  .knowledge-section .knowledge-groups,
  .knowledge-section .minor-knowledges,
  .knowledge-section .knowledge-group {
    width: 100vw !important;
  }

  .chevron {
    top: 30%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 18pt;
  }

  .knowledge-group div {
    height: 40%;
  }

  .minor-knowledges div {
    height: 40%;
  }

  .minor-knowledge-image.div3 {
    transform: scale(2) translateY(10%);
  }

  .minor-knowledge-image.div4 {
    transform: translateY(10%);
  }

  .minor-knowledge-image.div7 {
    object-fit: contain;
    transform: scale(2) translateY(10%);
  }

  .projects-section {
    width: 100vw;
  }

  .projects-section div {
    justify-content: center;
    width: 90% !important;
  }

  .card {
    max-height: fit-content;
    padding: 0;
  }

  .card .project-info {
    width: 100% !important;
    padding-bottom: 20px;
  }

  .contact-section {
    flex-direction: column;
    gap: 15px;
    height: 140vh;
  }

  .contact-information {
    width: 100%;
    height: fit-content;
    margin-top: 25%;
    font-size: 90%;
  }

  .contact-information a {
    width: fit-content;
    margin-left: 10%;
  }

  .contact-information p {
    font-size: 160% !important;
  }

  .contact-form {
    height: fit-content;
    width: 90%;
    margin-top: 15%;
    align-items: flex-start;
    transform: translateX(10%);
    outline: 1px solid tomato;
  }

  .sendWhatsappMessage {
    margin-left: 100%;
    transform: translateX(-50%);
  }

  footer {
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 849px) {

  /* ====> MEDIA QUERY PARA TELAS DE CELULARES GRANDES <==== */
  .section-light,
  .section-one {
    height: 100vh;
    width: 120vw;
  }

  .section-dark {
    height: 100vh;
    width: 100vw;
  }

  .main-text {
    margin-left: -11vw;
  }

  .main-title {
    font-size: 30px;
  }

  .navbar {
    position: relative;
    background: #191919;
    background: linear-gradient(17deg,
        #191919 1%,
        rgba(255, 255, 255, 0.65) 49%);
  }

  .nav {
    position: absolute;
    right: 18% !important;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 5px 5px 95px #19191955;
    border-radius: 3px;
    margin-right: 50px !important;
    transform: translateX(-50px) !important;
  }

  .navbar-toggler-custom {
    display: block;
  }

  .picture-div,
  .personal-picture {
    display: none;
    width: 0;
  }

  .about-me-section {
    height: fit-content;
    padding: 5% 0;
    width: 120vw;
  }

  .about-me-text {
    width: 100% !important;
  }

  .knowledge-section {
    position: relative;
    width: 120vw;
    height: 800px;
  }

  .knowledge-section .knowledge-groups,
  .knowledge-section .minor-knowledges,
  .knowledge-section .knowledge-group {

    width: 120vw !important;
  }

  .knowledge-group div {
    height: 40%;
  }

  .minor-knowledges div {
    height: 40%;
  }

  .minor-knowledge-image.div3 {
    transform: scale(2) translateY(10%);
  }

  .minor-knowledge-image.div4 {
    transform: translateY(10%);
  }

  .minor-knowledge-image.div7 {
    object-fit: contain;
    transform: scale(2) translateY(10%);
  }

  .projects-section {
    width: 120vw;
  }

  .projects-section div {
    width: 100%;
  }

  .contact-section {
    flex-direction: column;
    gap: 15px;
    height: 140vh;
  }

  .contact-information {
    width: 100%;
    height: fit-content;
    margin-top: 25%;
    font-size: 90%;
  }

  .contact-information a {
    width: fit-content;
    margin-left: 10%;
  }

  .contact-information p {
    font-size: 160% !important;
  }

  .contact-form {
    height: fit-content;
    width: 90%;
    margin-top: 15%;
    align-items: flex-start;
    transform: translateX(10%);
    outline: 1px solid tomato;
  }

  .sendWhatsappMessage {
    margin-left: 100%;
    transform: translateX(-50%);
  }

  footer {
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 850px) and (max-width: 1400px) {

  /* ====> MEDIA QUERY PARA TELAS DE 17" HD <==== */
  .about-me-text p {
    font-size: 110% !important;
  }

  .section-light {
    height: 85vh;
  }

  .dash-select-active-group {
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
  }

  .knowledge-group {
    padding: 5px;
  }

  .knowledge-group div {
    height: 70%;
  }
}